aside {
    width: 1220px;
    height: 100px;
    background-color: rgba(97, 152, 211, 0.742); /* transparent blanc */
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: solid 1px #9AAFE8;
    border-radius: 50px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

.item{
    font-weight: bold;
    cursor: pointer;
    color: #9AAFE8;
    height: 65px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
background-color: white;}

.invert{
    border: solid 2px #9AAFE8;
    color: white;
    background-color: transparent ;
}



.theme-light .item {
color: #9AAFE8;
background-color: white;
}

.theme-dark .item {
  color: white;
background-color: #9AAFE8;}


.theme-light aside {
    background-color: rgba(97, 152, 211, 0.742); /* transparent blanc */
}

.theme-dark aside {
background-color:rgba(255, 255, 255, 0.7); 
}