#navbar{
    display: flex;
    justify-content: center;
}



.frameNav{
  border: solid 1px #9AAFE8;
    margin-top: 50px;
    width: 80%;
    height: 70px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.login{
  border-radius: 40px;
  height: 60px;
  margin-left: 4px;
  width: 120px;
  background-color: #9AAFE8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.slider {
    background-color: #9AAFE8;
    border-radius: 100px;
    padding: 1px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items: center;
    position: relative;
    display: block;
    width: 51px;
    height: 29px;
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(255, 255, 255, 0.21) 0px 0px 0px 24px inset,
          #171717 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
  }
  
  .slider::after {
    content: "";
    display: flex;
    top: 2.3px;
    left: 2px;
    width: 26px;
    height: 26px;
    background-color: #e3e3e3;
    border-radius: 200px;
    position: absolute;
    box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
    transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
  }
  
  .switch input[type="checkbox"]:checked + .slider {
    box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgb(233, 231, 231) 0px 0px 0px 2px inset, rgb(235, 230, 230) 0px 0px 0px 24px inset,
          rgba(81, 99, 193, 0.45) 0px 1px 0px 0px;
  }
  
  .switch input[type="checkbox"]:checked + .slider::after {
    left: 24px;
  }
  
  .switch input[type="checkbox"] {
    display: none;
  }


  .switchNav{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }




  /* Thème clair */
.theme-light {
  background: linear-gradient(45deg, rgb(47, 53, 164), rgb(138, 185, 205));
  color: white;
}

/* Thème sombre */
.theme-dark {
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(228, 219, 219));
  color: black;
}

.theme-light .frameNav {
  background-color: white;
}

.theme-dark .frameNav {
  background-color: #9AAFE8;
}


.theme-light .login {
  background-color: #9AAFE8;
}

.theme-dark .login {
  background-color: white;
}

.theme-light .login>h2 {
color: white;
font-weight: bold;
}

.theme-dark .login>h2 {
  color: #9AAFE8;
  font-weight: bold;
}
